.ClassroomText {
  position: fixed;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 22%;}

.Option1 {
  position: fixed;
  width: 34%;
  left: 5%;
  bottom: 0%;
  z-index: 3;
}

.Option2 {
  position: fixed;
  width: 34%;
  left: 51%;
  bottom: 0%;
  z-index: 3;
}

.RightHighlight {
  position: fixed;
  width: 33.6%;
  height: 78.8%;
  left: 5.3%;
  bottom: -6.5%;
  z-index: 5;}

.WrongHighlight {
  position: fixed;
  width: 33.6%;
  height: 78.8%;
  left: 51.3%;
  bottom: -6.5%;
  z-index: 5;}

.text_lottie_container {
  position: fixed;
  right: 10%;
  top: 3%;
  width: 100%;
  height: 100%;}

.particles_lottie_container {
  position: fixed;
  left: 21%;
  top: 22%;
  width: 60%;
  height: 60%;
}

.WellDone_lottie_container {
  position: fixed;
  right: 15%;
  bottom: 5%;
  width: 20%;
  z-index: 5564;
}

.option1_div {
  position: fixed;
  border-radius: 100pt;
  left: 7.5%;
  top: 40.7%;
  width: 30%;
  height: 53.5%;
  z-index: 4;
}

.option2_div {
  position: fixed;
  border-radius: 100pt;
  left: 53.5%;
  top: 40.4%;
  width: 30%;
  height: 53.5%;
  z-index: 4;
}

.shadow{
  position: fixed;
  left: 67.5%;
  top: 85%;
  width: 14%;
  z-index: 0;
}