.ClassroomText {
  position: fixed;
  width: 80%;
  height: 20%;
  left: 8%;
  top: 34%;
}

.Option1 {
  position: fixed;
  width: 25%;
  left: 5%;
  bottom: 3%;
  z-index: 3;
}

.Option2 {
  position: fixed;
  width: 25%;
  left: 50%;
  bottom: 3%;
  z-index: 3;
}

.RightHighlight {
  position: fixed;
  width: 24.6%;
  height: 67.5%;
  left: 5.3%;
  bottom: -6.5%;
  z-index: 5;
}

.WrongHighlight {
  position: fixed;
  width: 24.6%;
  height: 67.5%;
  left: 51.3%;
  bottom: -6.5%;
  z-index: 5;
}

.text_lottie_container {
  width: 70%;
  height: 67%;
  position: fixed;
  left: 5%;
  bottom: -2%;
  z-index: 1;
}

.particles_lottie_container {
  position: fixed;
  left: 21%;
  top: 39%;
  width: 52%;
  height: 53%;
}

.WellDone_lottie_container {
  position: fixed;
  right: 15%;
  bottom: 5%;
  width: 20%;
  z-index: 5564;
}

.option1_div {
  position: fixed;
  border-radius: 77pt;
  left: 7.5%;
  top: 52.4%;
  width: 23%;
  height: 40.5%;
  z-index: 4;
}

.option2_div {
  position: fixed;
  border-radius: 77pt;
  left: 53.5%;
  top: 52.4%;
  width: 23%;
  height: 40.5%;
  z-index: 4;
}

.shadow {
  position: fixed;
  left: 67.5%;
  top: 85%;
  width: 14%;
  z-index: 0;
}
