.ClassroomText {
  position: fixed;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 5%;
}

.Option1 {
  position: fixed;
  width: 43%;
  /* height: 70%; */
  left: 5%;
  bottom: 0%;
  z-index: 3;
}

.Option2 {
  position: fixed;
  width: 43%;
  left: 51%;
  bottom: 0%;
  z-index: 3;
}

.RightHighlight {
  position: fixed;
  width: 42.5%;
  height: 78.4%;
  left: 5.3%;
  bottom: 2.4%;
  z-index: 5;
}

.WrongHighlight {
  position: fixed;
  width: 42.5%;
  height: 78.4%;
  left: 51.3%;
  bottom: 2.4%;
  z-index: 5;
}

.text_lottie_container {
  position: fixed;
  right: 10%;
  top: 3%;
  width: 100%;
  height: 100%;}

.particles_lottie_container {
  position: fixed;
  left: 17%;
  top: 13%;
  width: 70%;
  height: 70%;}

.WellDone_lottie_container {
  position: fixed;
  right: 15%;
  bottom: 5%;
  width: 20%;
  z-index: 5564;
}

.option1_div {
  position: fixed;
  border-radius: 100pt;
  left: 7.5%;
  top: 23.7%;
  width: 39%;
  height: 69.5%;
  z-index: 4;
}

.option2_div {
  position: fixed;
  border-radius: 100pt;
  left: 53.5%;
  top: 23.7%;
  width: 39%;
  height: 69.5%;
  z-index: 4;
}
