.Game2_question_img {
  position: fixed;
  left: 40%;
  top: 5%;
  transform: translate(-50% -50%);
  width: 20%;
  z-index: 2;
}

.Option1 {
  position: fixed;
  top: 21%;
  transform: translate(-50% -50%);
  width: 40%;
  height: 58.5%;
  z-index: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Option1_Img {
  width: 100%;
  height: 100%;
}

.Option2_Img {
  width: 100%;
  height: 100%;
}

.Option2 {
  position: fixed;
  top: 21%;
  transform: translate(-50% -50%);
  width: 40%;
  height: 58.5%;
  z-index: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Option2BG {
  position: fixed;
  right: 8%;
  top: 20%;
  transform: translate(-50% -50%);
  width: 41%;
  z-index: 1;
}
.Option1BG {
  position: fixed;
  left: 8%;
  top: 20%;
  transform: translate(-50% -50%);
  width: 41%;
  z-index: 1;
}

.audio_replay_icon_Game2Disabled,
.audio_replay_icon_Game2 {
  position: fixed;
  right: 2%;
  top: 83%;
  width: 9%;
  /* background-color: aqua; */
  border-radius: 50%;
}
.audio_replay_icon_Game2:active {
  border-radius: 50%;
  transform: scale(0.98);
}

.Option1_Button {
  position: fixed;
  left: 7.3%;
  top: 20%;
  transform: translate(-50% -50%);
  width: 42.5%;
  z-index: 1;
}

.Option2_Button {
  position: fixed;
  left: 50.3%;
  top: 20%;
  transform: translate(-50% -50%);
  width: 42.5%;
  z-index: 1;
}
