body {
  margin: 0px;
  padding: 0px;
  background: black;
}

.fadeup {
  animation: fade 1s forwards 1;
}

#fadeup {
  animation: fade 1s forwards 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fadeupText {
  animation: fadeText 1.5s forwards 1;
}

@keyframes fadeText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
