* {
  font-family: Myriad !important;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.senses_txt_img {
  width: 45%;
  position: fixed;
  top: 10%;
  left: 26%;
}

.senses_smell_img {
  width: 20%;
  position: fixed;
  top: 50%;
  right: 5%;
}
.senses_taste_img {
  width: 20%;
  position: fixed;
  top: 5%;
  left: 5%;
}
.senses_hearing_img {
  width: 20%;
  position: fixed;
  top: 5%;
  right: 5%;
}

.senses_touch_img {
  width: 20%;
  position: fixed;
  top: 50%;
  left: 5%;
}

.senses_vision_img {
  width: 20%;
  position: fixed;
  top: 50%;
  left: 40%;
}

.play_btn {
  position: fixed;
  bottom: 36%;
  left: 58%;
  width: 10%;
  cursor: pointer;
}

.play_btn:active {
  border-radius: 50%;
  transform: scale(0.95);
}

.mute_btn {
  width: 5%;
  position: fixed;
  position: fixed;
  z-index: 101010;
  bottom: 50%;
  left: 1%;
}

.mute_btn:active {
  border-radius: 50%;
  transform: scale(0.95);
}

.senses_smell {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  right: 6%;
  color: #fff;
}

.senses_taste {
  width: 15%;
  position: fixed;
  top: 42.5%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 7%;
  color: #fff;
}

.senses_hearing {
  width: 15%;
  position: fixed;
  top: 42.5%;
  font-size: 3vw !important;
  font-weight: 700;
  right: 8%;
  color: #fff;
}

.senses_touch {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 7%;
  color: #fff;
}

.senses_vision {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 42%;
  color: #fff;
}
