.senses_txt_img {
  width: 45%;
  position: fixed;
  top: 10%;
  left: 28%;
}

.senses_smell_img {
  width: 20%;
  position: fixed;
  top: 50%;
  right: 5%;
}
.senses_taste_img {
  width: 20%;
  position: fixed;
  top: 5%;
  left: 5%;
}
.senses_hearing_img {
  width: 20%;
  position: fixed;
  top: 5%;
  right: 5%;
}

.senses_touch_img {
  width: 20%;
  position: fixed;
  top: 50%;
  left: 5%;
}

.senses_vision_img {
  width: 20%;
  position: fixed;
  top: 50%;
  left: 40%;
}

.play_btn {
  position: fixed;
  bottom: 5%;
  left: 93%;
  width: 5%;
  cursor: pointer;
}

.senses_smell {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  right: 3.5%;
  color: #fff;
}

.senses_taste {
  width: 15%;
  position: fixed;
  top: 42.5%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 11%;
  color: #fff;
}

.senses_hearing {
  width: 15%;
  position: fixed;
  top: 42.5%;
  font-size: 3vw !important;
  font-weight: 700;
  right: 6.5%;
  color: #fff;
}

.senses_touch {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 11%;
  color: #fff;
}

.senses_vision {
  width: 15%;
  position: fixed;
  top: 87%;
  font-size: 3vw !important;
  font-weight: 700;
  left: 46%;
  color: #fff;
}
