.senses_character_img_scene2 {
  width: 20%;
  position: fixed;
  top: 30%;
  right: 33%;
  padding: 5%;
}

.intro_lottie_container {
  position: fixed;
  bottom: 0%;
  left: 37.5%;
  z-index: 0;
  width: 30%;
  height: 55%;
}

.Scene5_lottie_container {
  position: fixed;
  left: 10%;
  top: 20%;
  width: 25%;
}

.Game2_vision_img {
  position: fixed;
  right: 27.5%;
  top: 5%;
  width: 20%;
  z-index: 1;
}

.Game2_Newspaper_img {
  position: fixed;
  right: 48%;
  bottom: 5%;
  width: 25%;
}

.Game2_sun_img {
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 25%;
}

.Game2_Larrow_img {
  position: fixed;
  right: 40%;
  top: 30%;
  width: 20%;
  z-index: 0;
}

.Game2_Rarrow_img {
  position: fixed;
  right: 15%;
  top: 30%;
  width: 20%;
  z-index: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.senses_vision_Scene2 {
  width: 13%;
  position: fixed;
  top: 40%;
  left: 44%;
}

.senses_touch_Scene2 {
  width: 13%;
  position: fixed;
  top: 86%;
  left: 8%;
}

.senses_smell_Scene2 {
  width: 13%;
  position: fixed;
  top: 86%;
  right: 9%;
}

.senses_taste_Scene2 {
  width: 13%;
  position: fixed;
  top: 41%;
  left: 8%;
}

.senses_hearing_Scene2 {
  width: 13%;
  position: fixed;
  top: 41%;
  right: 8%;
}
