.Questions {
  position: fixed;
  left: 30%;
  top: 0%;
  width: 40%;
}

.Questions_Text {
  position: fixed;
  /* left: 30%; */
  bottom: 0%;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Questions_Img {
  width: 100%;
  height: 100%;
}

.forward {
  position: fixed;
  right: 1%;
  bottom: 5%;
  width: 6%;
  cursor: pointer;
}

.backward {
  position: fixed;
  left: 1%;
  bottom: 5%;
  width: 6%;
  cursor: pointer;
}
